.v {
    border-left: 4px solid darkslategray;
    border-right: 4px solid darkslategray;
    width: 100px;
}
.h {
    border-top: 4px solid palevioletred;
    border-bottom: 4px solid palevioletred;
}
